*{
    box-sizing:border-box;
}
body{
    color: #212529;
}
.bgd-grey-color{
    background-color: #d2d2d2;
}
.bgd-white-color{
    background-color: white;
}

 .border-orange{
     border: 1px solid #ffc107;
 }
 .select-width select{
     width: 120px;
 }
 .wdth{
     width:125px;
 }
.prix-style{
    position: absolute;
    top:0;
    width:7rem;
    height:2rem;
    text-align: center;
    background-color:#ffc107;
    border-radius:4px;
    padding: 5px;
    transition: width 300ms ease-in-out;
}
.img-height  img{
    height: 15em;
}
.forHidden{
    display: none;
}